.heroMain {
  display: flex;
  height: auto;
  width: auto;
  background-color: #e4e4e4;
  justify-content: space-around;
  padding-top: 2em;
  padding-bottom: 2em;
}

@media screen and (max-width: 480px) {
  .heroMain {
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
}
