.heroMain {
  height: 300px;
  width: auto;
  background-color: #333333;
}

.comments {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 50px;
}

.comments .comment {
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 60px;
  max-width: 400px;
  max-height: 100px;
}

.comments .comment p {
  margin: 0 0 10px 10px;
}

.bubble {
  position: relative;
  background: #ffffff;
  padding: 20px;
  color: #333333;
  border-radius: 4px;
  margin-left: 20px;
}

.bubble:after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-top: 15px solid #ffffff;
  border-bottom: 8px solid transparent;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  bottom: -22px;
}

.avatars {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: -0.5rem;
  align-items: center;
}

.avatars .avatar {
  /* max-width: 400px; */
}

.avatar {
  position: relative;
  padding: 20px;
  color: #a8b5ff;
  /* margin-left: 20px; */
  top: 0px;
}

.avatar p {
  margin-left: 2em;
  padding-right: 10em;
}

.avatar:after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  background: #7c7c7c;
  padding: 1.5em;
  border-radius: 100px;
  top: 9px;
  right: 348px;
}
