.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 247px;
  padding-right: 247px;
  padding-top: 17px;
  padding-bottom: 17px;
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: all 1s ease-in-out;
  z-index: 10;
}

.header.active {
  background: rgba(0, 0, 0, 0.6);
  transition: all 1s ease-in-out;
}

.header::before {
  content: "";
  position: absolute;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.01) 0%,
    rgba(0, 0, 0, 0.5) 109.5%
  );
  inset: 0;
  height: 100px;
}

.menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 1;
}

.menu li {
  display: inline;
  align-content: center;
  justify-content: center;
  list-style: none;
  color: #fdfdfd;
  padding: 18px;
  font-family: Roboto;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  user-select: none;
}

li:hover {
  color: rgba(0, 176, 232, 0.8);
}

.logo img {
  height: 66px;
  width: 289px;
  user-select: none;
}

.header .logo {
  display: flex;
  margin: 0;
  justify-content: flex-start;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

@media screen and (max-width: 768px) {
  .header {
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .menu li {
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
  }
  .logo img {
    height: 66px;
    width: 289px;
    user-select: none;
  }

  .header::before {
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.01) 0%,
      rgba(0, 0, 0, 0.5) 109.5%
    );
    inset: 0;
    height: 70px;
  }
}
